<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Наші хвостики</title>
  <link rel="stylesheet" href="./css/styles.css" />
  <link rel="icon" href="data:,">
</head>
<body>

<section id="pets-list" class="pets">
  <div class="container">
    <h2 class="pets-title">Наші хвостики</h2>
    <p class="pets-subtitle">
      Вони дуже чекають на знайомство з вами
    </p>

    <ul class="filters js-filters"></ul>
    <ul class="pets-list js-pets-list"></ul>

    <button class="load-more js-load-more">
      Завантажити ще
    </button>
  </div>
</section>

<script type="module" src="./js/main.js"></script>
</body>
</html>